@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #4B5563;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6D7A8C;
}

::-webkit-scrollbar-track {
  background-color: trnasparent;
}
